Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

docs(operations): defer the Ceph readdress, record the blast radius (#1751)
  docs/operations/proxmox-health-audit.md
Due: none

wip
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): second corosync link live, and corosync -t as the safety gate (#1752)
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): full guest memory audit, and why the Proxmox usage metric misleads (#1753)
  docs/operations/proxmox-health-audit.md
Due: none

wip
  docs/operations/proxmox-health-audit.md
  scripts/enable-vm-ballooning.sh
Due: none

feat(scripts): enable VM ballooning, and why unset is as bad as zero (#1754)
  docs/operations/proxmox-health-audit.md
  scripts/enable-vm-ballooning.sh
Due: none

wip
  scripts/enable-vm-ballooning.sh
Due: none

fix(scripts): ballooning verification hung on qm monitor (#1755)
  scripts/enable-vm-ballooning.sh
Due: none

wip
  kubernetes/apps/default/immich/app/helmrelease.yaml
Due: container-arch-check

fix(immich): liveness probe killed it mid-reindex (#1756)
  kubernetes/apps/default/immich/app/helmrelease.yaml
Due: container-arch-check

fix(immich): Helm readiness wait deadlocked the probe fix (#1757)
  kubernetes/apps/default/immich/app/helmrelease.yaml
Due: container-arch-check

fix(immich): it was the startup probe, not liveness (#1758)
  kubernetes/apps/default/immich/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score

fix(observability): scope the Ceph sustained-warning alert around the accepted aes warnings (#1759)
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score

puppet_scrape
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  scripts/nas-sync.sh
  scripts/prepare-nas-backup-disk.sh
Due: kube-score

puppet_scrape (#1760)
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  scripts/nas-sync.sh
  scripts/prepare-nas-backup-disk.sh
Due: kube-score

fix(observability): the puppet scrape was missing the label its boards join on
  kubernetes/apps/observability/grafana/app/dashboards/puppet_cis.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_dashboards.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_node_detail.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_os_overview.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_patching_blocked.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_patching_detail.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_patching_status.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_restart_overview.json
  kubernetes/apps/observability/grafana/app/dashboards/puppet_status.json
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

feat(observability): pdctng's own 33 boards, filtered down to what we can draw
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-ca.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis-rules.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-classification.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-console-activity.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-convergence.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-enforcement.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-environments.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-essential-eight.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-estate.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-evidence-quality.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-filesync.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-changes.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-churn.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-impact-analysis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-index.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-infrastructure-health.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-module-drift.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-noc.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-detail.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-finder.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-metrics.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-operations.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-orchestrator.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-patching.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetdb.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetserver.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-releases.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-review.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tam-check.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tasks.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-triage.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-work-done.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  scripts/pdctng-dashboards.py
Due: container-arch-check

fix(observability): the chart's datasource sed never touched the pdctng boards
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-ca.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis-rules.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-classification.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-console-activity.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-convergence.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-enforcement.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-environments.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-essential-eight.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-estate.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-evidence-quality.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-filesync.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-changes.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-churn.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-impact-analysis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-index.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-infrastructure-health.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-module-drift.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-noc.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-detail.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-finder.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-metrics.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-operations.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-orchestrator.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-patching.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetdb.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetserver.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-releases.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-review.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tam-check.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tasks.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-triage.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-work-done.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  scripts/pdctng-dashboards.py
Due: container-arch-check

fix(observability): bake the datasource UID into the pdctng boards (#1762)
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-ca.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis-rules.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-cis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-classification.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-console-activity.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-convergence.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-enforcement.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-environments.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-essential-eight.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-estate.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-evidence-quality.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-filesync.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-changes.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-fleet-churn.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-impact-analysis.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-index.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-infrastructure-health.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-module-drift.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-noc.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-detail.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-finder.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-node-metrics.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-operations.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-orchestrator.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-patching.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetdb.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-puppetserver.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-releases.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-review.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tam-check.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-tasks.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-triage.json
  kubernetes/apps/observability/grafana/app/dashboards/pdctng/pdctng-work-done.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  scripts/pdctng-dashboards.py
Due: container-arch-check

feat(arc): GitHub Actions runners for the Puppet control repos
  kubernetes/apps/arc-runners/control-repo/app/externalsecret.yaml
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
  kubernetes/apps/arc-runners/control-repo/app/kustomization.yaml
  kubernetes/apps/arc-runners/control-repo/ks.yaml
  kubernetes/apps/arc-runners/kustomization.yaml
  kubernetes/apps/arc-runners/namespace.yaml
  kubernetes/apps/arc-runners/networkpolicy-default.yaml
  kubernetes/apps/arc-runners/serviceaccount-default.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/ks.yaml
  kubernetes/apps/arc-systems/kustomization.yaml
  kubernetes/apps/arc-systems/namespace.yaml
  kubernetes/apps/arc-systems/networkpolicy-default.yaml
  kubernetes/apps/arc-systems/serviceaccount-default.yaml
  kubernetes/flux/repositories/oci/actions-runner-controller.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Due: kube-score, container-arch-check

feat(arc): GitHub Actions runners for the Puppet control repos (#1763)
  kubernetes/apps/arc-runners/control-repo/app/externalsecret.yaml
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
  kubernetes/apps/arc-runners/control-repo/app/kustomization.yaml
  kubernetes/apps/arc-runners/control-repo/ks.yaml
  kubernetes/apps/arc-runners/kustomization.yaml
  kubernetes/apps/arc-runners/namespace.yaml
  kubernetes/apps/arc-runners/networkpolicy-default.yaml
  kubernetes/apps/arc-runners/serviceaccount-default.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/arc-systems/actions-runner-controller/ks.yaml
  kubernetes/apps/arc-systems/kustomization.yaml
  kubernetes/apps/arc-systems/namespace.yaml
  kubernetes/apps/arc-systems/networkpolicy-default.yaml
  kubernetes/apps/arc-systems/serviceaccount-default.yaml
  kubernetes/flux/repositories/oci/actions-runner-controller.yaml
  kubernetes/flux/repositories/oci/kustomization.yaml
Due: kube-score, container-arch-check

fix(arc): give the listener pod a restricted-compliant securityContext
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
Due: container-arch-check

fix(arc): give the listener pod a restricted-compliant securityContext (#1764)
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
Due: container-arch-check

feat(arc): supply the CD4PE webhook token to the runner from 1Password
  kubernetes/apps/arc-runners/control-repo/app/externalsecret-cd4pe.yaml
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
  kubernetes/apps/arc-runners/control-repo/app/kustomization.yaml
Due: kube-score, container-arch-check

feat(arc): supply the CD4PE webhook token to the runner from 1Password (#1765)
  kubernetes/apps/arc-runners/control-repo/app/externalsecret-cd4pe.yaml
  kubernetes/apps/arc-runners/control-repo/app/helmrelease.yaml
  kubernetes/apps/arc-runners/control-repo/app/kustomization.yaml
Due: kube-score, container-arch-check

wip
  kubernetes/apps/kyverno/policies/app/mutate-pod-requests.yaml
  kubernetes/apps/kyverno/policies/app/mutate-seccomp-profile.yaml
Due: kube-score

fix(kyverno): mutate pods on CREATE only, UPDATE made 50 pods un-writable (#1766)
  kubernetes/apps/kyverno/policies/app/mutate-pod-requests.yaml
  kubernetes/apps/kyverno/policies/app/mutate-seccomp-profile.yaml
Due: kube-score

fix(kyverno): disable autogen on the pod mutators, it fought volsync into a job recreate loop (#1767)
  kubernetes/apps/kyverno/policies/app/mutate-pod-requests.yaml
  kubernetes/apps/kyverno/policies/app/mutate-seccomp-profile.yaml
Due: kube-score

wip
  kubernetes/bootstrap/talos/patches/controller/apiserver-resources.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

feat(talos): declare kube-apiserver's real memory request, 512Mi was 8x under (#1768)
  kubernetes/bootstrap/talos/patches/controller/apiserver-resources.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

wip
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless-ai/app/helmrelease.yaml
Due: container-arch-check

fix(default): immich and paperless-ai requested a third of what they use (#1769)
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless-ai/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): mds and rgw reserved 1Gi each to use 134Mi and 210Mi (#1770)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
