Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

fix(database): switch postgres16 to system-bullseye, standard dropped barman-cloud
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Due: kube-score

feat(cert-manager): add CiliumNetworkPolicy from live Hubble capture
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/cert-manager/networkpolicy-default.yaml
Due: kube-score

feat(external-secrets): add CiliumNetworkPolicy from live Hubble capture
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/networkpolicy-default.yaml
  kubernetes/apps/external-secrets/networkpolicy-onepassword-egress.yaml
Due: kube-score

feat(utilities): add CiliumNetworkPolicy from live Hubble capture
  kubernetes/apps/utilities/kustomization.yaml
  kubernetes/apps/utilities/networkpolicy-database-access.yaml
  kubernetes/apps/utilities/networkpolicy-default.yaml
  kubernetes/apps/utilities/networkpolicy-n8n-egress.yaml
Due: kube-score

fix(network-policy): move single-app policies into their app directories
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/networkpolicy.yaml
  kubernetes/apps/cert-manager/kustomization.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/networkpolicy-egress.yaml
  kubernetes/apps/utilities/kustomization.yaml
  kubernetes/apps/utilities/n8n/app/kustomization.yaml
  kubernetes/apps/utilities/n8n/app/networkpolicy-egress.yaml
Due: kube-score

feat(security): add CiliumNetworkPolicy from live Hubble capture
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/networkpolicy.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/networkpolicy-default.yaml
  kubernetes/apps/security/trivy-fixable-check/app/cronjob.yaml
  kubernetes/apps/security/trivy-fixable-check/app/kustomization.yaml
  kubernetes/apps/security/trivy-fixable-check/app/networkpolicy.yaml
  kubernetes/apps/security/trivy-operator/app/kustomization.yaml
  kubernetes/apps/security/trivy-operator/app/networkpolicy.yaml
Due: kube-score

feat(secrets): migrate cert-manager/external-dns/cloudflared off raw SOPS
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/secret.sops.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/external-dns/app/externalsecret.yaml
  kubernetes/apps/network/external-dns/app/kustomization.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Due: sops-encrypted, kube-score

fix(security): disable automount on the bare default ServiceAccount
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/serviceaccount-default.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/serviceaccount-default.yaml
  kubernetes/apps/external-secrets/kustomization.yaml
  kubernetes/apps/external-secrets/serviceaccount-default.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/serviceaccount-default.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/serviceaccount-default.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/serviceaccount-default.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/serviceaccount-default.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/serviceaccount-default.yaml
  kubernetes/apps/utilities/kustomization.yaml
  kubernetes/apps/utilities/serviceaccount-default.yaml
Due: kube-score

fix(network-policy): tighten the three loose existing NetworkPolicies
  kubernetes/apps/database/dragonfly/cluster/networkpolicy.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: kube-score, container-arch-check

fix(utilities): add missing minio egress rule to utilities-default
  kubernetes/apps/utilities/networkpolicy-default.yaml
Due: kube-score

fix(gitops): add missing namespace field to the nine default-SA patches
  kubernetes/apps/database/serviceaccount-default.yaml
  kubernetes/apps/default/serviceaccount-default.yaml
  kubernetes/apps/external-secrets/serviceaccount-default.yaml
  kubernetes/apps/kube-system/serviceaccount-default.yaml
  kubernetes/apps/media/serviceaccount-default.yaml
  kubernetes/apps/network/serviceaccount-default.yaml
  kubernetes/apps/observability/serviceaccount-default.yaml
  kubernetes/apps/security/serviceaccount-default.yaml
  kubernetes/apps/utilities/serviceaccount-default.yaml
Due: kube-score

fix(volsync): set moverResources so backup jobs pass ResourceQuota admission
  kubernetes/templates/volsync/minio.yaml
  kubernetes/templates/volsync/r2.yaml
Due: none

fix(security): add missing dragonfly egress rule to authentik's NetworkPolicy
  kubernetes/apps/security/authentik/app/networkpolicy.yaml
Due: kube-score

fix(utilities): add missing NAS egress rule for -r2 offsite backups
  kubernetes/apps/utilities/networkpolicy-default.yaml
Due: kube-score

fix(observability): let Prometheus scrape thanos-bucketweb again
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: container-arch-check

feat(kyverno): deploy the policy engine, no policies (stages 0-1)
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/repositories/ks.yaml
  kubernetes/apps/kyverno/kyverno/repositories/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/repositories/ocirepository.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/kyverno/serviceaccount-default.yaml
Due: kube-score, container-arch-check

feat(kyverno): first policy, audit only (stage 2)
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/require-pod-resources.yaml
  kubernetes/apps/kyverno/policies/ks.yaml
Due: kube-score

feat(kyverno): Pod Security Standards bundle, audit only (stage 3)
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/repositories/ocirepository-policies.yaml
  kubernetes/apps/kyverno/pss/app/helmrelease.yaml
  kubernetes/apps/kyverno/pss/app/kustomization.yaml
  kubernetes/apps/kyverno/pss/ks.yaml
Due: kube-score, container-arch-check

feat(kyverno): add Policy Reporter UI
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/repositories/ocirepository-policy-reporter.yaml
  kubernetes/apps/kyverno/policy-reporter/app/helmrelease.yaml
  kubernetes/apps/kyverno/policy-reporter/app/kustomization.yaml
  kubernetes/apps/kyverno/policy-reporter/ks.yaml
Due: kube-score, container-arch-check

feat(kyverno): scoped PolicyException for Volsync movers (stage 4)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/exception-volsync-movers.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score, container-arch-check

fix(observability): null-route CephNodeDiskspaceWarning
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Due: kube-score

feat(kyverno): enforce the repo's own ingress DNS convention (audit)
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/require-ingress-dns-target.yaml
Due: kube-score

chore(kyverno): categorise the ingress policy as "Tony's Conventions"
  kubernetes/apps/kyverno/policies/app/require-ingress-dns-target.yaml
Due: kube-score

fix(network): add missing external-dns target to the hubble-ui ingress
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: container-arch-check

feat(kyverno): five more convention policies, all audit-only
  kubernetes/apps/kyverno/policies/app/globalcontext-replicationsources.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/require-homepage-decision.yaml
  kubernetes/apps/kyverno/policies/app/require-image-digest.yaml
  kubernetes/apps/kyverno/policies/app/require-ingress-class.yaml
  kubernetes/apps/kyverno/policies/app/require-pvc-backup.yaml
  kubernetes/apps/kyverno/policies/app/require-storageclass-allowlist.yaml
Due: kube-score

fix(kyverno): grant read on Volsync CRDs so the backup policy works
  kubernetes/apps/kyverno/policies/app/globalcontext-replicationsources.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/rbac-volsync-read.yaml
Due: kube-score

fix(kyverno): correct the ReplicationSource projection JMESPath
  kubernetes/apps/kyverno/policies/app/globalcontext-replicationsources.yaml
Due: kube-score

feat(home-assistant): remove the Matter server sidecar
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

wip
  .github/workflows/kubeconform.yaml
  .github/workflows/kyverno.yaml
  scripts/kyverno-ci.sh
Due: none

oops
  .github/workflows/kyverno.yaml
Due: none

fix
  scripts/kyverno-ci.sh
Due: none

split out kyverno gate
  .github/workflows/kyverno.yaml
  scripts/kyverno-ci.sh
Due: none

ci: validate direct pushes to main with kubeconform (#1661)
  .github/workflows/kubeconform.yaml
Due: none

wip
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
Due: none

ci: stop required checks being skipped into a permanent block (#1662)
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
Due: none

docs: document the branch/PR workflow and the Kyverno setup
  CLAUDE.md
  docs/operations/kyverno.md
Due: none

docs: document the branch/PR workflow and the Kyverno setup (#1663)
  CLAUDE.md
  docs/operations/kyverno.md
Due: none

wip
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: container-arch-check

feat(kyverno): scrape metrics and add a policy posture dashboard (#1664)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: container-arch-check
