Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

Revert "feat(cilium): enable socketLB to terminate connections on Dragonfly failover"
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Due: kube-score

fix(homepage): correct Paperless credential field names in ExternalSecret
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Due: kube-score

fix(observability): tune NodeDiskIOSaturation alert threshold to 100
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score, container-arch-check

feat(talos): comprehensive kubelet GC and eviction tuning
  kubernetes/bootstrap/talos/patches/controller/disable-admission-controller.yaml
  kubernetes/bootstrap/talos/patches/global/kubelet.yaml
Due: none

fix(talos): downgrade talconfig versions to match running cluster
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

revert(talos): remove kubelet GC tuning - caused crash loop on v1.10.6
  kubernetes/bootstrap/talos/patches/global/kubelet.yaml
Due: none

fix(rook-ceph): add PodSecurity privileged label to namespace
  kubernetes/apps/rook-ceph/namespace.yaml
Due: kube-score

feat(talos): restore kubelet GC and eviction tuning for Talos 1.11.6
  kubernetes/bootstrap/talos/patches/global/kubelet.yaml
Due: none

fix(scripts): resolve critical bugs in cluster-health.sh
  scripts/cluster-health.sh
Due: none

feat(pdlf-website): standardize on nginx alpine variant
  kubernetes/apps/default/pdlf-website/app/helmrelease.yaml
Due: container-arch-check

fix(dns-export): remove hostUsers=false setting
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(database): only alert on archiving failures for primary postgres instance
  kubernetes/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
Due: kube-score

shitbox exporter
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/shitbox-mqtt-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/shitbox-mqtt-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/shitbox-mqtt-exporter/app/kustomization.yaml
  kubernetes/apps/observability/shitbox-mqtt-exporter/ks.yaml
Due: kube-score, container-arch-check

fix
  kubernetes/apps/observability/shitbox-mqtt-exporter/ks.yaml
Due: kube-score

fix
  kubernetes/apps/observability/kustomization.yaml
Due: none

Update lb-ipam-ips annotation to 192.168.8.124
  kubernetes/apps/observability/shitbox-mqtt-exporter/app/helmrelease.yaml
Due: container-arch-check

fix
  kubernetes/apps/observability/shitbox-mqtt-exporter/app/helmrelease.yaml
Due: container-arch-check

Update Prometheus configuration for remote write receiver
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

test
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Remove additionalArgs for storage out-of-order-time-window
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Add tsdb out_of_order_time_window configuration
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Remove tsdb configuration from helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Add additional argument for out-of-order time window
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Update Thanos sidecar configuration in helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Update tsdb configuration for kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

auth
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

Add shitbox telemetry dashboard to helmrelease spec
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

Update telemetry dashboard annotations and thresholds
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Update telemetry dashboard datasource and showPoints option
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Add Pi Temp dashboard with Prometheus datasource
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Remove shitbox-mqtt-exporter from observability resources
  kubernetes/apps/observability/kustomization.yaml
Due: none

Update telemetry dashboard settings and configurations
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

feat(grafana): restrict dashboard folder access for Viewer role
  kubernetes/apps/observability/grafana/app/configmap-permissions.yaml
  kubernetes/apps/observability/grafana/app/job-permissions.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Due: kube-score

fix(grafana): add securityContext and inline permissions script
  kubernetes/apps/observability/grafana/app/configmap-permissions.yaml
  kubernetes/apps/observability/grafana/app/job-permissions.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Due: kube-score

fix(grafana): use netshoot image with curl and jq pre-installed
  kubernetes/apps/observability/grafana/app/job-permissions.yaml
Due: kube-score

fix(grafana): disable readOnlyRootFilesystem for curl temp files
  kubernetes/apps/observability/grafana/app/job-permissions.yaml
Due: kube-score

feat(grafana): organize dashboards into folders
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(grafana): use defaultFolderName instead of folder for sidecar
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(grafana): set provider path to parent directory for folder structure
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check
