Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

wip
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-6-default-sa-token.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

feat(kyverno): CIS 5.1.6 scoped to the default SA, and why the existing patches don't work (#1771)
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-6-default-sa-token.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

wip
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: container-arch-check

fix(observability): prometheus was at 98.9% of its limit, thanos below its own p50 (#1772)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

fix(kyverno): stop emitting an Event per audit failure, 70% of all events in etcd (#1773)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Due: container-arch-check

fix(observability): widen leader election, controllers were dying mid-scan on slow reads (#1774)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
Due: container-arch-check

fix(kyverno): both values from #1773 and #1774 were silently ignored (#1775)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: container-arch-check

fix(cilium): drop hubble port-distribution, one metric was 13.5% of the TSDB (#1776)
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

fix(security): trivy keeps vulnerability scanning only, drops 1,639 etcd objects (#1777)
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

fix(kyverno): reports controller was pinned at 98% of a 128Mi limit (#1778)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  scripts/nas-sync.sh
Due: kube-score

feat(nas-sync): exit 23 is not a failure, and alert on staleness rather than exit code (#1779)
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  scripts/nas-sync.sh
Due: kube-score

wip
  kubernetes/apps/observability/custom-alerts/app/dashboards/nas-sync.json
  kubernetes/apps/observability/custom-alerts/app/kustomization.yaml
Due: none

feat(observability): NAS mirror dashboard (#1780)
  kubernetes/apps/observability/custom-alerts/app/dashboards/nas-sync.json
  kubernetes/apps/observability/custom-alerts/app/kustomization.yaml
Due: none

network: add lab-dns-sync, publish Puppet node DNS to Pi-hole
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/lab-dns-sync/app/externalsecret.yaml
  kubernetes/apps/network/lab-dns-sync/app/helmrelease.yaml
  kubernetes/apps/network/lab-dns-sync/app/kustomization.yaml
  kubernetes/apps/network/lab-dns-sync/app/lab-dns-sync.py
  kubernetes/apps/network/lab-dns-sync/ks.yaml
Due: kube-score, container-arch-check

update_radarr_memory
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Due: container-arch-check

update_radarr_memory (#1815)
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Due: container-arch-check

feat(observability): regenerate the pdctng alert rules, 10 alerts to 72
  kubernetes/apps/observability/custom-alerts/app/puppet.yaml
Due: kube-score

fix(observability): pihole LXCs were reporting their Proxmox host's load
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

fix(observability): pihole LXCs were reporting their Proxmox host's load (#1818)
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

feat(kyverno): rebrand the policy dashboards as Unified Compliance
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-engine.json
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: none

feat(kyverno): rebrand the policy dashboards as Unified Compliance (#1819)
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-engine.json
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: none

chore(observability): regenerate pdctng alert rules (0.6.0) (#1822)
  kubernetes/apps/observability/custom-alerts/app/puppet.yaml
Due: kube-score

wip: drop dead kyverno HelmRepository
  kubernetes/flux/repositories/helm/kyverno.yaml
Due: none

wip: flux-diff comment via file
  .github/workflows/flux-diff.yaml
Due: none

ci(observability): pull the pdctng alert rules from pdctng instead of pdctng pushing them
  .github/workflows/pdctng-alert-rules.yaml
Due: none

feat(observability): pdctng scrape certificate from 1Password
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/pdctng-scrape-tls.yaml
Due: kube-score

feat(observability): scrape pdctng over mTLS
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

feat(observability): pdctng scrape certificate from 1Password (#1849)
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/pdctng-scrape-tls.yaml
Due: kube-score

feat(observability): scrape pdctng over mTLS (#1850)
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

update syncthing memory
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Due: container-arch-check

lab-dns-sync: publish pecdm VMs from Proxmox
  kubernetes/apps/network/lab-dns-sync/app/externalsecret.yaml
  kubernetes/apps/network/lab-dns-sync/app/helmrelease.yaml
  kubernetes/apps/network/lab-dns-sync/app/lab-dns-sync.py
Due: kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
