Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

fix(home-assistant): increase upgrade timeout and add matter-server probes
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

fix(home-assistant): update python-matter-server to 8.1.2 from new repo
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

gitignore
  .gitignore
Due: none

fix(stirling-pdf): resolve OOM Metaspace crash loop
  kubernetes/apps/utilities/stirling-pdf/app/helmrelease.yaml
Due: container-arch-check

graph
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix: swap accelerometer axis labels after IMU storage fix
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix(shit-of-theseus): drop autoplay from poster→video swap
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

feat(shit-of-theseus): drop live-mode freshness gate, show last-update inline
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

update
  kubernetes/apps/utilities/stirling-pdf/app/helmrelease.yaml
Due: container-arch-check

chaos
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/tvchaosuk-custom.yml
Due: kube-score, container-arch-check

Test
  kubernetes/apps/media/prowlarr/app/tvchaosuk-custom.yml
Due: kube-score

Update kilns dashboard to show per-type sensor error counts
  kubernetes/apps/observability/grafana/app/dashboards/kilns.json
Due: none

feat(grafana): update kiln dashboard
  kubernetes/apps/observability/grafana/app/dashboards/kilns.json
Due: none

feat(rook-ceph): add ceph-csi-drivers HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/flux/repositories/helm/ceph-csi-operator.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Due: kube-score, container-arch-check

chore(rook-ceph): drop dead csi.* values silently ignored since v1.20
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: container-arch-check

fix
  kubernetes/apps/observability/grafana/app/dashboards/kilns.json
Due: none

fix(reactive-resume): add fsGroup to fix /app/data write permission
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
Due: container-arch-check

shit-of-theseus: refresh build blog and photos for Jun 2026
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

blog update
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

shit-of-theseus: build-log entry for the event-segment-drop fix
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

svg clean up
  kubernetes/apps/default/shit-of-theseus/app/webroot/wiring.svg
Due: none

feat(shit-of-theseus): add front engine mount failure to build log
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

toodle pip website
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/toodlepip-website/app/externalsecret.yaml
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
  kubernetes/apps/default/toodlepip-website/app/kustomization.yaml
  kubernetes/apps/default/toodlepip-website/ks.yaml
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: kube-score, container-arch-check

fix
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: container-arch-check

filter latest
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
Due: kube-score

fix(grafana): aggregate donation panels with max() to drop pod-restart ghost series
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

refactor(grafana): re-flow rally dashboard by operational urgency
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

feat(smtp-relay): restrict relay to known sender domains
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/resources/maddy.conf
Due: container-arch-check

job history
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): enable RBD snapshotter sidecar
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
Due: container-arch-check

fix(grafana): titlecase Corrective/Intentional in puppet State Overview
  kubernetes/apps/observability/grafana/app/dashboards/puppet_status.json
Due: none

fix dashboard
  kubernetes/apps/observability/grafana/app/dashboards/puppet_status.json
Due: none

fix
  kubernetes/apps/observability/grafana/app/dashboards/puppet_status.json
Due: none

update
  kubernetes/apps/default/smtp-relay/app/resources/maddy.conf
Due: none

fix
  kubernetes/apps/default/smtp-relay/app/resources/maddy.conf
Due: none

fix(immich): disable gunicorn control socket in ML container
  kubernetes/apps/default/immich/app/helmrelease.yaml
Due: container-arch-check

fix(dragonfly): grant operator configmaps RBAC for v1.6.1
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Due: kube-score

fix(dragonfly): add pods/status and poddisruptionbudgets RBAC for v1.6.1
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Due: kube-score

fix(dragonfly): label operator pod control-plane=controller-manager
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Due: container-arch-check
