Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

wip
  docs/operations/network-policy-flow-capture.md
Due: none

docs(network): record the Hubble flow capture before the pods are deleted (#1684)
  docs/operations/network-policy-flow-capture.md
Due: none

docs(network): the prowlarr denial was a dead app entry, not a policy gap (#1685)
  docs/operations/network-policy-flow-capture.md
Due: none

wip
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

fix(observability): drop PiholeHighLoad, it was watching the Proxmox host (#1686)
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

wip
  CLAUDE.md
Due: none

docs: correct the branch protection section that deadlocked Renovate (#1726)
  CLAUDE.md
Due: none

wip
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: none

add policy file
  kubernetes/apps/kyverno/policies/app/mutate-pod-requests.yaml
Due: kube-score

feat(kyverno): default pod resource requests, but not limits (#1733)
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/mutate-pod-requests.yaml
Due: kube-score

wip
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

fix: raise memory limits on the three workloads that OOMKilled (#1734)
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/security/trivy-operator/app/dashboards/trivy-vulnerabilities.json
  kubernetes/apps/security/trivy-operator/app/kustomization.yaml
Due: none

feat(security): Trivy vulnerability dashboard (#1735)
  kubernetes/apps/security/trivy-operator/app/dashboards/trivy-vulnerabilities.json
  kubernetes/apps/security/trivy-operator/app/kustomization.yaml
Due: none

wip
  kubernetes/apps/kube-system/cert-expiry-check/app/pushgateway.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-pushgateway.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

fix(kube-system): persist the pushgateway, two alerts were blind (#1736)
  kubernetes/apps/kube-system/cert-expiry-check/app/pushgateway.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-pushgateway.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

wip
  kubernetes/apps/kube-system/cert-expiry-check/app/pushgateway.yaml
Due: kube-score

fix(kube-system): pushgateway strategy that can actually be applied in place (#1738)
  kubernetes/apps/kube-system/cert-expiry-check/app/pushgateway.yaml
Due: kube-score

wip
  docs/README.md
  docs/operations/etcd-disk-cache-mode.md
Due: none

docs(operations): why etcd fsync spikes on the Proxmox control plane (#1741)
  docs/README.md
  docs/operations/etcd-disk-cache-mode.md
Due: none

wip
  .taskfiles/Talos/Maintenance.yaml
  docs/operations/etcd-disk-cache-mode.md
Due: none

feat(talos): verified etcd snapshots to the NAS (#1742)
  .taskfiles/Talos/Maintenance.yaml
  docs/operations/etcd-disk-cache-mode.md
Due: none

wip
  kubernetes/bootstrap/talos/patches/controller/etcd.yaml
Due: none

feat(talos): raise etcd election-timeout to 2500ms (#1743)
  kubernetes/bootstrap/talos/patches/controller/etcd.yaml
Due: none

wip
  docs/README.md
  docs/operations/etcd-disk-cache-mode.md
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): Proxmox health audit (#1744)
  docs/README.md
  docs/operations/etcd-disk-cache-mode.md
  docs/operations/proxmox-health-audit.md
Due: none

feat(observability): alert on NVMe available spare, not wear (#1745)
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

wip
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): corosync and UPS findings, identify drives by serial (#1746)
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): UPS shutdown protection restored across the estate (#1747)
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): roadmap the 192.168.6.0/24 subnet collision (#1748)
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): Ceph before corosync, and the verified HA-safe edit procedure (#1749)
  docs/operations/proxmox-health-audit.md
Due: none

docs(operations): corosync phase 1 done, and three corrections from the outage (#1750)
  docs/operations/proxmox-health-audit.md
Due: none
