Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

feat(security): enforce PodSecurity privileged on database namespace
  kubernetes/apps/database/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity baseline on external-secrets namespace
  kubernetes/apps/external-secrets/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity privileged on kube-system namespace
  kubernetes/apps/kube-system/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity privileged on security namespace
  kubernetes/apps/security/namespace.yaml
Due: kube-score

fix(trivy-operator): disable node-collector, incompatible with Talos
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

feat(security): enforce PodSecurity baseline on media namespace
  kubernetes/apps/media/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity baseline on network namespace
  kubernetes/apps/network/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity baseline on volsync-system namespace
  kubernetes/apps/volsync-system/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity baseline on flux-system namespace
  kubernetes/apps/flux-system/namespace.yaml
Due: kube-score

docs+feat(monitoring): document UPS hardware, add LB-flag runtime alert
  docs/operations/monitoring.md
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

docs(monitoring): correct UPS shutdown policy note
  docs/operations/monitoring.md
Due: none

fix dashboard redirection
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
Due: container-arch-check

commit new token
  kubernetes/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/apps/network/external-dns/app/secret.sops.yaml
  scripts/rotate-cloudflare-dns-token.sh
Due: sops-encrypted

fix(scripts): correct cert-manager rotation guidance, harden 1Password call
  scripts/rotate-cloudflare-dns-token.sh
Due: none

feat(rook-ceph): size CSI controller plugin resources, scale to 2 replicas
  docs/operations/cephx-key-rotation.md
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): set replicas explicitly per-driver, not just as a default
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
Due: container-arch-check

feat(rook-ceph): add PDBs for CSI controller plugins
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/pdb.yaml
Due: kube-score

feat(observability): alert on Thanos bucket operation failures
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

docs: correct CLAUDE.md's Renovate automerge claim
  CLAUDE.md
Due: none

feat(observability): monitor Hubble/Cilium mTLS cert expiry
  kubernetes/apps/kube-system/cert-expiry-check/app/cronjob.yaml
  kubernetes/apps/kube-system/cert-expiry-check/app/kustomization.yaml
  kubernetes/apps/kube-system/cert-expiry-check/app/pushgateway.yaml
  kubernetes/apps/kube-system/cert-expiry-check/app/scrapeconfig.yaml
  kubernetes/apps/kube-system/cert-expiry-check/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

fix(kube-system): fix cert-expiry-check's pushgateway POST payload
  kubernetes/apps/kube-system/cert-expiry-check/app/cronjob.yaml
Due: kube-score

fix(kube-system): honor Pushgateway's own labels on scrape
  kubernetes/apps/kube-system/cert-expiry-check/app/scrapeconfig.yaml
Due: kube-score

fix(database): bump postgres16 16.4->16.15, fix Renovate tracking
  .github/renovate.json5
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Due: kube-score

fix(default): bump nginx-reverse-proxy off a dead Bitnami tag scheme
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
Due: container-arch-check

feat(security): alert on fixable-only CRITICAL vulnerability backlog
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/trivy-fixable-check/app/cronjob.yaml
  kubernetes/apps/security/trivy-fixable-check/app/kustomization.yaml
  kubernetes/apps/security/trivy-fixable-check/app/rbac.yaml
  kubernetes/apps/security/trivy-fixable-check/ks.yaml
Due: kube-score

fix(security): raise trivy-fixable-check memory limit, 128Mi OOMKilled it
  kubernetes/apps/security/trivy-fixable-check/app/cronjob.yaml
Due: kube-score

feat(observability): wire Watchdog to a real dead-man's-switch
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Due: kube-score

feat(database): scale cloudnative-pg operator to 2 replicas
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
Due: container-arch-check

feat(database): add PDB for cloudnative-pg operator
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/app/pdb.yaml
Due: kube-score

fix(talos): switch installDisk to a size-based selector
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

feat(observability): add Luggage capacity panels to the Synology dashboard
  kubernetes/apps/observability/grafana/app/dashboards/synology-nfs.json
Due: none

fix(observability): fix dead cert-manager dashboard URL
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

chore(ci): remove claude-code-review.yml, provided zero real coverage
  .github/workflows/claude-code-review.yml
Due: none

feat(sops): automate the in-cluster sops-age key rotation cutover
  .taskfiles/Sops/Taskfile.yaml
  docs/operations/sops-age-key-rotation.md
Due: none

feat(media): add CiliumNetworkPolicy for the media namespace
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/networkpolicy-database.yaml
  kubernetes/apps/media/networkpolicy-default.yaml
Due: kube-score

fix(media): right-size memory requests/limits from 30d real usage
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Due: container-arch-check

fix(media): widen database egress policy to cover CNPG instance pods
  kubernetes/apps/media/networkpolicy-database.yaml
Due: kube-score

feat(media): add ResourceQuota sized from today's right-sizing pass
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/resourcequota.yaml
Due: kube-score

fix(authentik): add resources from 30d real usage
  kubernetes/apps/security/authentik/app/helm-release.yaml
Due: kube-score

disable jellyfin
  kubernetes/apps/media/kustomization.yaml
Due: none
