Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

feat(grafana): add VOC (gas resistance) to Cabin Air Quality panel
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix(grafana): correct Shitbox Events annotation datasource UID
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

feat(grafana): VOC threshold colours bound to observed cabin baseline
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

feat(dns-export): make Sync-ClusterDNS.ps1 self-heal Defender CFA blocks
  scripts/Sync-ClusterDNS.ps1
Due: none

fix(paperless): set PAPERLESS_CSRF_TRUSTED_ORIGINS explicitly
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Due: container-arch-check

fixes
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

feat(paperless): default newly-consumed documents to tgreen
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Due: container-arch-check

feat(grafana): add TPMS row to shitbox-rally-command (Phase 28)
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix(grafana): TPMS pressure axis unit pressureppsi → pressurepsi
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

feat(sot): TPMS section on car page + wiring SVG
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/wiring.svg
Due: none

Updates
  kubernetes/apps/default/shit-of-theseus/app/grafana-helmrelease.yaml
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: container-arch-check

update
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

SoT
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

dashboard
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-trip-summary.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(observability): resolve duplicate image key in kube-prometheus-stack
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

fix(database): downgrade emqx-operator to 2.2.29
  kubernetes/apps/database/emqx/app/helmrelease.yaml
Due: container-arch-check

fix(database): upgrade EMQX to 5.9.0 for operator 2.3.0 compatibility
  kubernetes/apps/database/emqx/app/helmrelease.yaml
  kubernetes/apps/database/emqx/cluster/cluster.yaml
Due: kube-score, container-arch-check

fix(database): revert to emqx-operator 2.2.29 and EMQX 5.8.9
  kubernetes/apps/database/emqx/app/helmrelease.yaml
  kubernetes/apps/database/emqx/cluster/cluster.yaml
Due: kube-score, container-arch-check

fix(renovate): pin emqx-operator to 2.2.x
  .github/renovate.json5
Due: none

trip summary
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-trip-summary.json
Due: none

update
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

dash
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

dashboard
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

SoT donations
  kubernetes/apps/default/shit-of-theseus/app/donation-exporter/donation_exporter.py
  kubernetes/apps/default/shit-of-theseus/app/helmrelease.yaml
  kubernetes/apps/default/shit-of-theseus/app/kustomization.yaml
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
  kubernetes/apps/default/shit-of-theseus/app/podmonitor.yaml
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: kube-score, container-arch-check

dashboard: move FUNDRAISING row to top + fix currency rendering
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

dashboard: fix id collision + drop wheel variable
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

dashboard: prefix currency + drop donations-over-time legend
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix unit syntax
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix(resume): update env vars for v5 API changes
  kubernetes/apps/default/reactive-resume/app/externalsecret.yaml
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
Due: kube-score, container-arch-check

files app
  kubernetes/apps/default/files/app/helmrelease.yaml
  kubernetes/apps/default/files/app/kustomization.yaml
  kubernetes/apps/default/files/app/nginx-config/nginx.conf
  kubernetes/apps/default/files/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Due: kube-score, container-arch-check

fix
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score

edward redirections
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score

fix(grafana): remove broken wheel variable filter from TPMS panels
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

jellyfin
  .gitignore
  kubernetes/apps/media/jellyfin/app/externalsecret.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/pvc.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Due: kube-score, container-arch-check

fix(jellyfin): remove duplicate PVC conflicting with volsync template
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/pvc.yaml
Due: kube-score

update kiln dashboard
  kubernetes/apps/observability/grafana/app/dashboards/kilns.json
Due: none

fix
  kubernetes/apps/utilities/kustomization.yaml
Due: none

matter
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

fix(home-assistant): correct python-matter-server image tag to 6.2.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

fix(home-assistant): remove deprecated --bluetooth-adapter arg from matter-server
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
