Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

fix(shit-of-theseus): timebox the Telemetry link to the rally window
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix(minio): raise memory 2Gi->4Gi to stop OOMKills
  kubernetes/apps/default/minio/app/helmrelease.yaml
Due: container-arch-check

feat(observability): dedicated isolated Prometheus for shitbox_* (keep-forever)
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/shitbox-prometheus/app/ingress.yaml
  kubernetes/apps/observability/shitbox-prometheus/app/kustomization.yaml
  kubernetes/apps/observability/shitbox-prometheus/app/prometheus.yaml
  kubernetes/apps/observability/shitbox-prometheus/app/service.yaml
  kubernetes/apps/observability/shitbox-prometheus/ks.yaml
Due: kube-score

fix(shitbox-prometheus): add fsGroup securityContext so PVC is writable
  kubernetes/apps/observability/shitbox-prometheus/app/prometheus.yaml
Due: kube-score

fix(shitbox-prometheus): declare match-nothing selectors to keep config managed
  kubernetes/apps/observability/shitbox-prometheus/app/prometheus.yaml
Due: kube-score

memory updates
  kubernetes/apps/default/shit-of-theseus/app/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Due: container-arch-check

feat(shit-of-theseus): timelapse title-card poster on day-page player
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

feat(shit-of-theseus): timelapse uses the event-video player
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix(shit-of-theseus): don't let Cloudflare cache mutable captures
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
Due: none

Revert "fix(shit-of-theseus): don't let Cloudflare cache mutable captures"
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
Due: none

fix(shit-of-theseus): rally distance excludes the return-leg drive home
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

feat(shit-of-theseus): front-page rally recap post
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix(grafana): disable auto-refresh on the shitbox command dashboard
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

feat(grafana): point shitbox dashboards at the dedicated instance
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-trip-summary.json
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(shit-of-theseus): add shitbox datasource to the public grafana
  kubernetes/apps/default/shit-of-theseus/app/grafana-helmrelease.yaml
Due: container-arch-check

fix(grafana): restore annotation hover + keep drive-time pie populated
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

tuning
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

fix tv chaos
  kubernetes/apps/media/prowlarr/app/tvchaosuk-custom.yml
Due: kube-score

tvchaos
  kubernetes/apps/media/prowlarr/app/tvchaosuk-custom.yml
Due: kube-score

puppet alerting
  kubernetes/apps/observability/custom-alerts/app/kustomization.yaml
  kubernetes/apps/observability/custom-alerts/app/puppet.yaml
Due: kube-score

fix
  kubernetes/apps/observability/custom-alerts/app/puppet.yaml
Due: kube-score

fix(dragonfly): allow cross-namespace clients on 6379
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/cluster/networkpolicy.yaml
Due: kube-score

fix(nginx): send X-Forwarded-Proto for dashboard.lab
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
Due: container-arch-check

fix(jellyfin): expand config PVC to 20Gi, move restic cache to ceph-block
  kubernetes/apps/media/jellyfin/ks.yaml
Due: kube-score

fix(jellyfin): keep restic cache on openebs-hostpath
  kubernetes/apps/media/jellyfin/ks.yaml
Due: kube-score

fix(observability): exclude SMB mounts from filesystem inode alerts
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score, container-arch-check

fix(observability): exclude SMB mounts from predictive inode alert too
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score, container-arch-check

feat(toodlepip): serve live site on toodlepip.com.au
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/ingress.yaml
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: kube-score, container-arch-check

fix(flux): define TZ and consolidate timezone substitution
  bootstrap/templates/kubernetes/flux/vars/cluster-settings.yaml.j2
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
  kubernetes/apps/default/shit-of-theseus/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/mylar/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/observability/cloudflare-exporter/app/deployment.yaml
  kubernetes/apps/observability/mqtt-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/pihole-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-pve-exporter/ankh/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-pve-exporter/morpork/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-pve-exporter/stolat/app/helmrelease.yaml
  kubernetes/apps/utilities/gotenberg/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Due: kube-score, container-arch-check

fix(ci): move Claude workflows to action v1 and pin the model
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(cilium): rotate hubble TLS certs via cronJob
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): rotate daemon cephx keys to aes256k (CVE-2025-30156)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): rotate CSI and rbd-mirror-peer cephx keys to aes256k
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): explicitly request aes256k for CSI cephx keys
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): revert CSI cephx keys to aes, unblock Volsync backups
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

Revert "fix(rook-ceph): revert CSI cephx keys to aes, unblock Volsync backups"
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): pin cephcsi to v3.17.1 for aes256k support
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): bump CSI cephx keyGeneration to 5, unstick HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(observability): resolve double-digest thanos image reference
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
