Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

fix(unifi2netbox): use explicit field references to avoid username/password conflict
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

fix(unifi2netbox): patch API endpoint for UniFi Network Application 9.1.118+
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
Due: kube-score

fix(unifi2netbox): correct API endpoint patch to set udm_pro path
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
Due: kube-score

feat(network): add Proxmox to NetBox sync
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/configmap.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/cronjob.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/externalsecret.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/kustomization.yaml
  kubernetes/apps/network/proxmox-netbox-sync/ks.yaml
Due: kube-score

fix(proxmox-netbox-sync): use correct Proxmox hostname
  kubernetes/apps/network/proxmox-netbox-sync/app/configmap.yaml
Due: kube-score

feat(unifi-netbox-sync): replace mrzepa solution with custom UDM Pro-compatible sync
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/configmap.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/cronjob.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/kustomization.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
  kubernetes/apps/network/unifi-netbox-sync/ks.yaml
  kubernetes/apps/network/unifi2netbox/app/config/config.yaml
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
Due: kube-score

fix(unifi-netbox-sync): create /app directory before copying script
  kubernetes/apps/network/unifi-netbox-sync/app/cronjob.yaml
Due: kube-score

fix(unifi-netbox-sync): remove unsupported verify_ssl parameter from UnifiClient
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): use correct UnifiClient parameters
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): use correct UDM Pro IP address
  kubernetes/apps/network/unifi-netbox-sync/app/configmap.yaml
Due: kube-score

fix(unifi-netbox-sync): disable SSL cert verification and use property access
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): remove cert parameter to use default cert pinning
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): use correct unificontrol API methods
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): disable SSL cert pinning with cert=None
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): disable SSL verification on session
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(unifi-netbox-sync): use unipoller credentials from 1Password
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
Due: kube-score

fix(unifi-netbox-sync): use 'unifi protect local user' credentials
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
Due: kube-score

fix(unifi-netbox-sync): use Ubiquti credentials from discworld vault
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
Due: kube-score

fix(unifi-netbox-sync): use unpoller credentials from discworld vault
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
Due: kube-score

debug(unifi-netbox-sync): add credential logging to troubleshoot auth
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

debug(unifi-netbox-sync): log password length
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
Due: none

fix(alertmanager): silence CephHealthWarning alerts
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Due: kube-score

test(unifi-netbox-sync): try Ubiquti admin credentials instead of readonly
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
Due: kube-score

chore(network): remove netbox and sync applications
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/netbox/app/externalsecret.yaml
  kubernetes/apps/network/netbox/app/helmrelease.yaml
  kubernetes/apps/network/netbox/app/kustomization.yaml
  kubernetes/apps/network/netbox/app/valkey-secret.yaml
  kubernetes/apps/network/netbox/ks.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/configmap.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/cronjob.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/externalsecret.yaml
  kubernetes/apps/network/proxmox-netbox-sync/app/kustomization.yaml
  kubernetes/apps/network/proxmox-netbox-sync/ks.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/configmap.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/cronjob.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/externalsecret.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/kustomization.yaml
  kubernetes/apps/network/unifi-netbox-sync/app/sync_script.py
  kubernetes/apps/network/unifi-netbox-sync/ks.yaml
Due: kube-score, container-arch-check

feat(observability): add Grafana Tempo for distributed tracing
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/tempo/app/externalsecret.yaml
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
  kubernetes/apps/observability/tempo/app/kustomization.yaml
  kubernetes/apps/observability/tempo/ks.yaml
Due: kube-score, container-arch-check

fix(grafana): correct Tempo datasource URL to use direct service
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

feat(home-assistant): enable OpenTelemetry tracing to Tempo
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

revert: remove Home Assistant OpenTelemetry config
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Due: container-arch-check

feat(ingress-nginx): enable OpenTelemetry tracing to Tempo
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Due: container-arch-check

feat(grafana): add Tempo and enhanced nginx dashboards
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(grafana): replace broken nginx dashboard 14314 with 9614
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

fix(grafana): remove nginx dashboard - conflicts with existing
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

feat(observability): enable Tempo metrics generator for RED dashboards
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
Due: container-arch-check

fix(tempo): add complete metrics generator configuration
  kubernetes/apps/observability/tempo/app/helmrelease.yaml
Due: container-arch-check

feat(grafana): add Synology NFS/Volume 2 I/O monitoring dashboard
  kubernetes/apps/observability/grafana/app/dashboards/synology-nfs.json
Due: none

Add synology dashboard to helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

Update synology dashboard URL in helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

feat(volsync): stagger backup schedules to reduce Synology I/O spikes
  kubernetes/apps/database/nocodb/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/paperless-ai/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/scrypted/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/media/overseerr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/sabnzbd/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/utilities/asciinema/ks.yaml
  kubernetes/apps/utilities/n8n/ks.yaml
  kubernetes/apps/utilities/node-red/ks.yaml
  kubernetes/apps/utilities/shlink/ks.yaml
Due: kube-score

chore(observability): remove Loki and Promtail
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/loki/app/externalsecret.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/observability/loki/app/prometheusrule.yaml
  kubernetes/apps/observability/loki/app/rules/application-errors.yaml
  kubernetes/apps/observability/loki/ks.yaml
  kubernetes/apps/observability/promtail/app/helmrelease.yaml
  kubernetes/apps/observability/promtail/app/kustomization.yaml
  kubernetes/apps/observability/promtail/ks.yaml
Due: kube-score, container-arch-check

feat(cilium): enable socketLB to terminate connections on Dragonfly failover
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Due: kube-score
