Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

fix(rook-ceph): bump CSI cephx keyGeneration to 6, unstick HelmRelease
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(network): remove orphaned kalooma.org, smarthome.pdlf.net, staging.toodlepip.com.au
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/ingress.yaml
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
Due: kube-score, container-arch-check

fix(database): raise max_connections, add TCP keepalives to postgres16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Due: kube-score

aes
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

feat(database): add PgBouncer pooler, trial with radarr/sonarr
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/pooler-rw.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
Due: kube-score

feat(database): move prowlarr, resume, gatus, shlink, asciinema to pgbouncer pooler
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/externalsecret.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  kubernetes/apps/utilities/asciinema/app/externalsecret.yaml
  kubernetes/apps/utilities/shlink/app/externalsecret.yaml
Due: kube-score, container-arch-check

fix(database): revert asciinema off the pooler, add reloader to shlink
  kubernetes/apps/utilities/asciinema/app/externalsecret.yaml
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: kube-score, container-arch-check

feat(database): move authentik to pgbouncer pooler
  kubernetes/apps/security/authentik/app/external-secret.yaml
Due: kube-score

fix(talos): revert talconfig to match live reality, add missing workers
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

fix(taskfiles): fix broken flags check in ceph-maintenance-start
  .taskfiles/Talos/Maintenance.yaml
Due: none

fix(talos): correct magrat's stale MAC address, bump talosVersion to v1.12.11
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

fix(network): remove dead k8s-gateway, superseded by external-dns/pihole
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/kustomization.yaml
  kubernetes/apps/network/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Due: kube-score, container-arch-check

fix(talos): bump talconfig to v1.13.9/v1.35.4, reflecting live cluster state
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

fix(talos): use \$\$patch: delete for admissionControl, matching live state
  kubernetes/bootstrap/talos/patches/controller/disable-admission-controller.yaml
Due: none

chore: refresh detect-secrets baseline timestamp
  .secrets.baseline
Due: none

feat(resilience): scale cert-manager/external-secrets to 2 replicas with PDB
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Due: container-arch-check

feat(resilience): set resource requests/limits on three chokepoint operators
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
Due: container-arch-check

feat(flux): enable drift detection (warn mode) on foundational HelmReleases
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

feat(flux): promote clean HelmReleases to driftDetection: enabled
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): remove dead healthCheck.bucket config on CephObjectStore
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

feat(flux): enable driftDetection on rook-ceph-cluster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

feat(resilience): scale cloudflared to 2 replicas with PDB
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/pdb.yaml
Due: kube-score, container-arch-check

fix(gatus): drop unused cluster-wide Secrets RBAC grant
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/rbac.yaml
Due: kube-score, container-arch-check

fix(observability): infinite retries on chokepoint HelmReleases, real Stalled alerting
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: kube-score, container-arch-check

fix(rook-ceph): pin the six CSI sidecar images the operator chart defaults
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Due: container-arch-check

feat(security): redeploy trivy-operator as a GitOps-managed HelmRelease
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
  kubernetes/apps/security/trivy-operator/app/kustomization.yaml
  kubernetes/apps/security/trivy-operator/ks.yaml
  kubernetes/flux/repositories/helm/aquasecurity.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Due: kube-score, container-arch-check

fix(security): trivy-operator OOMKilled on first cold-start sweep
  kubernetes/apps/security/trivy-operator/app/helmrelease.yaml
Due: container-arch-check

docs(operations): add SOPS age key rotation runbook
  docs/operations/sops-age-key-rotation.md
Due: none

docs(operations): add cephx rotation runbook and stale-mount check script
  docs/operations/cephx-key-rotation.md
  scripts/check-stale-cephx-mounts.sh
Due: none

fix(n8n): mount the actual Volsync-tracked PVC instead of a shadow one
  kubernetes/apps/utilities/n8n/app/helmrelease.yaml
Due: container-arch-check

ci: pin all third-party GitHub Actions to commit SHA, remove dead workflow
  .github/renovate.json5
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/release.yaml
Due: none

fix(observability): alerting gaps and a dead dashboard reference
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/externalsecret.yaml
Due: kube-score, container-arch-check

fix(resources): RBAC scope-down and resource sizing across five apps
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/external-secrets/onepassword-connect/app/pdb.yaml
  kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: kube-score, container-arch-check

fix(images): digest-pin matter-server, toodlepip-website, pihole-exporter, it-tools
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
  kubernetes/apps/observability/pihole-exporter/app/helmrelease.yaml
  kubernetes/apps/utilities/it-tools/app/helmrelease.yaml
Due: container-arch-check

docs: fix stale/incorrect documentation, add missing context
  CLAUDE.md
  docs/operations/backup-recovery.md
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Due: container-arch-check

fix(scripts): cluster-health.sh false positives, remove orphaned bitnami repo
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  scripts/cluster-health.sh
Due: none

feat(sops): add sops:rotate-key task, wire into the rotation runbook
  .taskfiles/Sops/Taskfile.yaml
  docs/operations/sops-age-key-rotation.md
Due: none

feat(backup): add a run log to backup-to-1password.sh
  scripts/backup-to-1password.sh
Due: none

feat(security): enforce PodSecurity baseline on utilities namespace
  kubernetes/apps/utilities/namespace.yaml
Due: kube-score

feat(security): enforce PodSecurity baseline on cert-manager namespace
  kubernetes/apps/cert-manager/namespace.yaml
Due: kube-score

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
