Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$

Update team grid layout for responsiveness
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update personal bio and cancer rally message in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update Steve's bio with detailed information and donation link
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update member's role and responsibilities in index.htmlwebroot
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update Raspberry Pi location in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update about-card content in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update styles for navigation bar and body background
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update basemap to light theme in leaflet map style
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update dashboard IDs and panel width in telemetry.json
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Add rally progress banner to index page
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Filter events based on rally start date
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update rally start date to January 30, 2026
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update rally start date in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update rally start date in index.html to January 30, 2026
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update rally start date to 2025 in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Add new telemetry dashboards for system health and environment
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Add new Prometheus alert rules for home sensors
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

feat(media): migrate overseerr to seerr v3.1.0
  kubernetes/apps/media/overseerr/app/helmrelease.yaml
Due: container-arch-check

feat(default): add syncthing v2.0.14
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Due: kube-score, container-arch-check

Add HistoricalDataIntegrity alert in Thanos monitoring
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: container-arch-check

fix(observability): fix kromgo gatus check endpoint
  kubernetes/apps/observability/kromgo/app/gatus-endpoint.yaml
Due: kube-score

fix
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

Add cache control headers for events.json endpoint
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Refactor timelapse video loading logic in JavaScript
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Add disk free and CPU % stat panel to dashboard
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

Update dashboard titles in Grafana json config
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-rally-command.json
Due: none

Add shitbox-rally-command dashboard to Grafana helm release
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

feat: add Status tab, rename Events→Videos, move Timelapse
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix: status tab — remove peak G, use location_name for last position
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Script
  scripts/cluster-health.sh
Due: none

fix: resolve post-upgrade crashes in rook-ceph and dragonfly-operator
  kubernetes/apps/database/dragonfly/app/rbac.yaml
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: kube-score, container-arch-check

fix(rook-ceph): add trailing newline to configOverride for Ceph v19 parser
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(rook-ceph): workaround helm trailing newline regression (rook/rook#17245)
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Due: container-arch-check

fix(observability): exclude openebs-hostpath PVCs from capacity alerts
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score

fix
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update configurations for Cloudflared and Grafana dashboards
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: kube-score

Update NAS IP address in config.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score

Add new services for photos and sync in config.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score

Update Cloudflared config with new hostnames for services
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score

Update hostname in config.yaml to "poneglyph.pdlf.net".
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
Due: kube-score
