Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

fix(network): use top-level serviceAccount config in dns-export
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(network): use onedr0p/kubectl image for dns-export
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(network): use alpine with runtime kubectl/jq installation
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(network): remove security context to allow package installation
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

feat(network): expose dns-export via LoadBalancer on 192.168.8.21
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(network): use NodePort instead of LoadBalancer for dns-export
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

fix(network): add manual NodePort service for dns-export
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
  kubernetes/apps/network/dns-export/app/kustomization.yaml
  kubernetes/apps/network/dns-export/app/service.yaml
Due: kube-score, container-arch-check

fix(network): change nodePort to 30888 (30880 already in use)
  kubernetes/apps/network/dns-export/app/service.yaml
Due: kube-score

feat: add PowerShell script for Edward to sync cluster DNS to Windows hosts file
  README-EdwardDNS.md
  Sync-ClusterDNS.ps1
Due: none

Update support contact in README and move Sync-ClusterDNS script
  docs/README-EdwardDNS.md
  scripts/Sync-ClusterDNS.ps1
Due: none

fix(network): change dns-export probes to TCP to prevent false alerts
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

feat(default): add Plex server to nginx-reverse-proxy
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
Due: container-arch-check

feat(default): add Plex to nginx-reverse-proxy ingress
  kubernetes/apps/default/nginx-reverse-proxy/app/ingress.yaml
Due: kube-score

fix(default): move Plex to internal ingress class
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/ingress.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/kustomization.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/plex-ingress.yaml
Due: kube-score, container-arch-check

feat(default): add homepage dashboard entry for Plex
  kubernetes/apps/default/nginx-reverse-proxy/app/plex-ingress.yaml
Due: kube-score

feat(scripts): add Chrome bookmarks generation to DNS sync script
  docs/README-EdwardDNS.md
  scripts/Sync-ClusterDNS.ps1
Due: none

chore(cilium): remove suspended network policy remnants
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/cilium/policies/allow-trusted-sources.yaml
  kubernetes/apps/kube-system/cilium/policies/audit-threat-intel.yaml
  kubernetes/apps/kube-system/cilium/policies/kustomization.yaml
Due: kube-score

fix(ingress-nginx): change externalTrafficPolicy to Local for L2 announcement compatibility
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Due: container-arch-check

fix(cilium): restrict L2 announcements to control-plane nodes only
  kubernetes/apps/kube-system/cilium/config/cilium-l2.yaml
  kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml
Due: kube-score, container-arch-check

fix(dns-export): disable hostUsers to fix pod creation
  kubernetes/apps/network/dns-export/app/helmrelease.yaml
Due: container-arch-check

Increase memory for thanos
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
Due: container-arch-check

feat(paperless): add filename format for exports
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Due: container-arch-check

fix(paperless): escape Jinja2 template in filename format
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Due: container-arch-check

Update paperless filename format to include year in path
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Due: container-arch-check

feat(network): add NetBox IPAM/DCIM application
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/netbox/app/externalsecret.yaml
  kubernetes/apps/network/netbox/app/helmrelease.yaml
  kubernetes/apps/network/netbox/app/kustomization.yaml
  kubernetes/apps/network/netbox/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/netbox-community.yaml
Due: kube-score, container-arch-check

fix(netbox): update ExternalSecret keys to match chart expectations
  kubernetes/apps/network/netbox/app/externalsecret.yaml
Due: kube-score

fix(netbox): correct secret key naming and Valkey auth configuration
  kubernetes/apps/network/netbox/app/externalsecret.yaml
  kubernetes/apps/network/netbox/app/helmrelease.yaml
Due: kube-score, container-arch-check

fix(netbox): disable Valkey auth and configure database passwords
  kubernetes/apps/network/netbox/app/helmrelease.yaml
Due: container-arch-check

fix(netbox): add dummy netbox-valkey secret
  kubernetes/apps/network/netbox/app/externalsecret.yaml
Due: kube-score

fix(netbox): add username key to secret
  kubernetes/apps/network/netbox/app/externalsecret.yaml
Due: kube-score

fix(netbox): create valkey secret as separate resource
  kubernetes/apps/network/netbox/app/externalsecret.yaml
  kubernetes/apps/network/netbox/app/kustomization.yaml
  kubernetes/apps/network/netbox/app/valkey-secret.yaml
Due: kube-score

feat(network): add unifi2netbox CronJob for UniFi to NetBox sync
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/unifi2netbox/app/config/config.yaml
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
  kubernetes/apps/network/unifi2netbox/app/kustomization.yaml
  kubernetes/apps/network/unifi2netbox/ks.yaml
Due: kube-score

fix(unifi2netbox): add missing icecream dependency
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
Due: kube-score

fix(unifi2netbox): use HTTP for internal NetBox service URL
  kubernetes/apps/network/unifi2netbox/app/config/config.yaml
Due: kube-score

update
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

fix(unifi2netbox): correct API token field name in ExternalSecret
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

fix(unifi2netbox): use NETBOX_API field from 1Password
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

fix(unifi2netbox): use slug-compatible role names
  kubernetes/apps/network/unifi2netbox/app/config/config.yaml
Due: kube-score

fix(unifi2netbox): use ubiquti credentials from discworld vault with MFA
  kubernetes/apps/network/unifi2netbox/app/cronjob.yaml
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

fix(unifi2netbox): use totp_secret text field for MFA
  kubernetes/apps/network/unifi2netbox/app/externalsecret.yaml
Due: kube-score

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
