Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

wip
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: none

fix(kyverno): escape Grafana template vars so the dashboard survives envsubst (#1665)
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: none

wip
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-cnpg.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-monitoring.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-shitbox.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

feat(kyverno): PolicyExceptions for the three legitimately unbacked PVC sets (#1666)
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-cnpg.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-monitoring.yaml
  kubernetes/apps/kyverno/policies/app/exception-pvc-backup-shitbox.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

wip
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

wip
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/mutate-revision-history-limit.yaml
Due: kube-score

fix(kyverno): stop auditing dead ReplicaSets, and cap revision history at 3 (#1667)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/mutate-revision-history-limit.yaml
Due: kube-score, container-arch-check

wip
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
Due: none

feat(kyverno): dashboard panels for mutations and exceptions (#1668)
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-posture.json
Due: none

wip
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-engine.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: container-arch-check

fix(kyverno): make the upstream engine dashboard actually work (#1669)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/policies/app/dashboards/kyverno-engine.json
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: container-arch-check

wip
  kubernetes/apps/utilities/asciinema/app/helmrelease.yaml
  kubernetes/apps/utilities/kustomization.yaml
  kubernetes/apps/utilities/n8n/app/helmrelease.yaml
  kubernetes/apps/utilities/resourcequota.yaml
  kubernetes/apps/utilities/send/app/helmrelease.yaml
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: kube-score, container-arch-check

feat(utilities): declare missing resources and add a ResourceQuota (#1670)
  kubernetes/apps/utilities/asciinema/app/helmrelease.yaml
  kubernetes/apps/utilities/kustomization.yaml
  kubernetes/apps/utilities/n8n/app/helmrelease.yaml
  kubernetes/apps/utilities/resourcequota.yaml
  kubernetes/apps/utilities/send/app/helmrelease.yaml
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: kube-score, container-arch-check

wip
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/cis-5-3-2-namespace-networkpolicy.yaml
  kubernetes/apps/kyverno/policies/app/globalcontext-networkpolicies.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/rbac-cis-read.yaml
Due: kube-score

oops
  docs/operations/kyverno.md
Due: none

feat(kyverno): the two CIS Section 5 controls worth enforcing here (#1671)
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/cis-5-3-2-namespace-networkpolicy.yaml
  kubernetes/apps/kyverno/policies/app/globalcontext-networkpolicies.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/rbac-cis-read.yaml
Due: kube-score

wip
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/cis-5-3-2-namespace-networkpolicy.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/require-image-digest.yaml
  kubernetes/apps/kyverno/policies/app/require-pvc-backup.yaml
  kubernetes/apps/kyverno/policies/app/restrict-image-registries.yaml
  kubernetes/apps/kyverno/pss/app/helmrelease.yaml
Due: kube-score, container-arch-check

feat(kyverno): image registry allowlist and framework tagging (#1672)
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/cis-5-3-2-namespace-networkpolicy.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/require-image-digest.yaml
  kubernetes/apps/kyverno/policies/app/require-pvc-backup.yaml
  kubernetes/apps/kyverno/policies/app/restrict-image-registries.yaml
  kubernetes/apps/kyverno/pss/app/helmrelease.yaml
Due: kube-score, container-arch-check

wip
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/restrict-image-registries.yaml
Due: kube-score

fix(kyverno): two CEL bugs that compiled cleanly and were wrong (#1673)
  kubernetes/apps/kyverno/policies/app/cis-5-1-3-no-wildcard-rbac.yaml
  kubernetes/apps/kyverno/policies/app/restrict-image-registries.yaml
Due: kube-score

wip
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/mutate-seccomp-profile.yaml
Due: kube-score

feat(kyverno): declare RuntimeDefault seccomp, and what that revealed (#1674)
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
  kubernetes/apps/kyverno/policies/app/mutate-seccomp-profile.yaml
Due: kube-score

wip
  kubernetes/bootstrap/talos/patches/controller/etcd.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

fix(talos): let etcd defragment itself, and unbreak talhelper (#1675)
  kubernetes/bootstrap/talos/patches/controller/etcd.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

wip
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score, container-arch-check

fix(observability): make the etcd fragmentation alert mean something (#1676)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/prometheusrule.yaml
Due: kube-score, container-arch-check

wip
  .github/workflows/talhelper.yaml
Due: none

ci(talos): validate talconfig, so a bad version bump cannot merge green (#1677)
  .github/workflows/talhelper.yaml
Due: none

wip
  kubernetes/bootstrap/talos/patches/controller/disable-admission-controller.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

fix(talos): stop deleting the PodSecurity admission config (#1678)
  kubernetes/bootstrap/talos/patches/controller/disable-admission-controller.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Due: none

wip
  .taskfiles/Talos/Maintenance.yaml
Due: none

fix(talos): show the diff before applying machine config (#1679)
  .taskfiles/Talos/Maintenance.yaml
Due: none

wip
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/exception-kube-system-node-infrastructure.yaml
  kubernetes/apps/kyverno/policies/app/exception-openebs-local-storage.yaml
  kubernetes/apps/kyverno/policies/app/exception-rook-ceph.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

feat(kyverno): scoped exceptions for storage and node infrastructure (#1680)
  docs/operations/kyverno.md
  kubernetes/apps/kyverno/policies/app/exception-kube-system-node-infrastructure.yaml
  kubernetes/apps/kyverno/policies/app/exception-openebs-local-storage.yaml
  kubernetes/apps/kyverno/policies/app/exception-rook-ceph.yaml
  kubernetes/apps/kyverno/policies/app/kustomization.yaml
Due: kube-score

feat(kyverno): actually scan kube-system (#1681)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

feat(kyverno): admit kube-system to the webhook path so it can be scanned (#1682)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

fix(kyverno): the kube-system webhook override that actually works (#1683)
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Due: container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
