Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

fix(grafana): put all sidecar dashboards in Kubernetes folder
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

feat(grafana): use sidecar container for folder permissions
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/job-permissions.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
Due: kube-score, container-arch-check

fix(grafana): move news config under grafana.ini
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Due: container-arch-check

Update shlink image tag to version 5.0.0
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: container-arch-check

Update helm release with shlink image tag
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: container-arch-check

Prevent undetected HelmRelease death spirals
  kubernetes/apps/flux-system/monitoring/app/kustomization.yaml
  kubernetes/apps/flux-system/monitoring/app/podmonitor.yaml
  kubernetes/apps/flux-system/monitoring/ks.yaml
  kubernetes/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
  kubernetes/apps/utilities/shlink/app/helmrelease.yaml
Due: kube-score, container-arch-check

Fix stirling-pdf crash due to non-root symlink creation
  kubernetes/apps/utilities/stirling-pdf/app/helmrelease.yaml
Due: container-arch-check

Add missing remediation config and startup probes
  kubernetes/apps/database/nocodb/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless-ai/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/utilities/n8n/app/helmrelease.yaml
Due: container-arch-check

Fix jsoncrack memory limits and remove thanos timeout workaround
  kubernetes/apps/observability/thanos/app/helmrelease.yaml
  kubernetes/apps/utilities/jsoncrack/app/helmrelease.yaml
Due: container-arch-check

Fix stirling-pdf security context for su-exec privilege drop
  kubernetes/apps/utilities/stirling-pdf/app/helmrelease.yaml
Due: container-arch-check

annotations
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

shit-of-theseus.com
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/shit-of-theseus/app/grafana-helmrelease.yaml
  kubernetes/apps/default/shit-of-theseus/app/helmrelease.yaml
  kubernetes/apps/default/shit-of-theseus/app/kustomization.yaml
  kubernetes/apps/default/shit-of-theseus/app/nginx-config/default.conf
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/ks.yaml
  kubernetes/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/apps/network/ingress-nginx/certificates/production.yaml
Due: kube-score, container-arch-check

Add Leaflet map integration and event markers
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

fix(default): add privileged PodSecurity label to default namespace
  kubernetes/apps/default/namespace.yaml
Due: kube-score

fix(observability): add privileged PodSecurity label to namespace
  kubernetes/apps/observability/namespace.yaml
Due: kube-score

fix(openebs-system): add privileged PodSecurity label to namespace
  kubernetes/apps/openebs-system/namespace.yaml
Due: kube-score

Update website title and styles for Shit of Theseus
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/logo.png
Due: none

Update logo source to base64 encoding to improve performance
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Add logo.png and route.jpg to webroot; style About section
  kubernetes/apps/default/shit-of-theseus/app/kustomization.yaml
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/route.jpg
Due: none

Add route section to the navigation menu
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Remove duplicate team member entry and update roles.<commit message>
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update logo.png file in webroot directory
  kubernetes/apps/default/shit-of-theseus/app/webroot/logo.png
Due: none

Add "The Car" section to index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/logo.png
Due: none

Add car images to the car gallery in index.html
  kubernetes/apps/default/shit-of-theseus/app/kustomization.yaml
  kubernetes/apps/default/shit-of-theseus/app/webroot/car-front.jpg
  kubernetes/apps/default/shit-of-theseus/app/webroot/car-side.jpg
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/logo.png
Due: none

Add day filter functionality for events section
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update date label format in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Activate videos on filter change and single day view
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Refactor video activation/deactivation functions
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Add new features to telemetry system.- Include a GitHub link in telemetry description.- Enhance USB Webcam and Big Red Button functionality
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update about-card styles and content in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update styles for team member bio section and Tony's information
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Add member avatar images and additional content in index.html
  kubernetes/apps/default/shit-of-theseus/app/webroot/index.html
Due: none

Update dashboard panel widths and positions.- Adjusted panel widths and positions in telemetry dashboard
  kubernetes/apps/observability/grafana/app/dashboards/shitbox-telemetry.json
Due: none

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
