Repository albatrossflavour/home-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, sops-encrypted, kube-score, container-arch-check

forbidden-files:
  name: Forbidden files
  language: fail
  entry: Found forbidden files

sops-encrypted:
  name: Check SOPS encryption
  language: system
  entry: sh -c 'for file in "$@"; do if ! grep -q "^sops:" "$file"; then echo "$file should be encrypted with SOPS"; exit 1; fi; done' --
  pass_filenames: true

kube-score:
  name: kube-score
  description: Validate Kubernetes manifests with kube-score
  entry: 'bash -c ''if command -v kube-score >/dev/null 2>&1; then kube-score score --ignore-test pod-networkpolicy --output-format ci "$@"; else echo "Warning: kube-score not installed, skipping..."; fi'''
  language: system

container-arch-check:
  name: Check container architecture compatibility
  description: Validate containers use SHA256 digests and known good architectures
  ...

lab-dns-sync: write managed records to the Pi-hole replicas too
  kubernetes/apps/network/lab-dns-sync/app/helmrelease.yaml
  kubernetes/apps/network/lab-dns-sync/app/lab-dns-sync.py
Due: container-arch-check

chore(toodlepip): pin site image to the new-look build
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: container-arch-check

chore(toodlepip): pin site image to the cache-headers build
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: container-arch-check

chore(toodlepip): pin site image to the icon fix build
  kubernetes/apps/default/toodlepip-website/app/helmrelease.yaml
Due: container-arch-check

chore(unified-compliance): bump kyverno charts to 3.9.1
  kubernetes/apps/unified-compliance/engine/repositories/ocirepository-policies.yaml
  kubernetes/apps/unified-compliance/engine/repositories/ocirepository.yaml
Due: kube-score

chore(unified-compliance): update kyverno and kyverno-policies charts to 3.9.1 (#1854)
  kubernetes/apps/unified-compliance/engine/repositories/ocirepository-policies.yaml
  kubernetes/apps/unified-compliance/engine/repositories/ocirepository.yaml
Due: kube-score

Revert "fix(container): update image ghcr.io/home-operations/bazarr to v1.6.2 (#1827)"
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Due: container-arch-check

revert(media): hold bazarr at 1.6.0 (#1855)
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
Due: container-arch-check

fix(network): drop removed pihole-api-version flag
  kubernetes/apps/network/external-dns/pihole-external/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-internal/app/helmrelease.yaml
Due: container-arch-check

fix(network): drop --pihole-api-version for external-dns v0.22 (#1856)
  kubernetes/apps/network/external-dns/pihole-external/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-internal/app/helmrelease.yaml
Due: container-arch-check

Revert "feat(helm): update chart external-dns to 1.22.0 (#1807)"
  bootstrap/templates/kubernetes/apps/network/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-external/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-internal/app/helmrelease.yaml
Due: container-arch-check

Revert "fix(network): drop --pihole-api-version for external-dns v0.22 (#1856)"
  kubernetes/apps/network/external-dns/pihole-external/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-internal/app/helmrelease.yaml
Due: container-arch-check

revert(network): roll external-dns back to chart 1.21.1 (#1857)
  bootstrap/templates/kubernetes/apps/network/external-dns/app/helmrelease.yaml.j2
  kubernetes/apps/network/external-dns/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-external/app/helmrelease.yaml
  kubernetes/apps/network/external-dns/pihole-internal/app/helmrelease.yaml
Due: container-arch-check

fix(default): point nginx-reverse-proxy at its managed chart source
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/ocirepository.yaml
Due: kube-score, container-arch-check

fix(default): point nginx-reverse-proxy at its managed chart source (#1858)
  kubernetes/apps/default/nginx-reverse-proxy/app/helmrelease.yaml
  kubernetes/apps/default/nginx-reverse-proxy/app/ocirepository.yaml
Due: kube-score, container-arch-check

fix
  kubernetes/apps/security/kustomization.yaml
Due: none

dotty auth
  kubernetes/apps/observability/kube-prometheus-stack/app/kiln-externalsecret.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Due: kube-score

remove_trivy
  kubernetes/apps/security/kustomization.yaml
Due: none

remove_trivy (#1899)
  kubernetes/apps/security/kustomization.yaml
Due: none

change_size
  kubernetes/apps/default/syncthing/ks.yaml
Due: kube-score

change_size (#1900)
  kubernetes/apps/default/syncthing/ks.yaml
Due: kube-score

alerts
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

alerts (#1901)
  kubernetes/apps/observability/custom-alerts/app/prometheusrule.yaml
Due: kube-score

wip
  docs/README-EdwardDNS.md
Due: none

docs(dns-export): note quoting paths with spaces in Edward's README (#1925)
  docs/README-EdwardDNS.md
Due: none

wip
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
Due: container-arch-check

feat(default)!: reactive-resume v6, with TRUSTED_PROXIES and no Helm rollback (#1929)
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
Due: container-arch-check

fix(default): point reactive-resume v6 at Minio with the renamed S3 variables (#1930)
  kubernetes/apps/default/reactive-resume/app/helmrelease.yaml
Due: container-arch-check

Path conditions:
  forbidden-files: any of: (^|/)\.DS_Store$|Thumbs\.db$|\.idea/|\.vscode/workspace\.json$
  sops-encrypted: any of: .*\.sops\.ya?ml$, but not: ^\.sops\.ya?ml$
  kube-score: any of: kubernetes/.*\.(yaml|yml)$, but not: (?x)^(
  kubernetes/flux/|
  kubernetes/bootstrap/|
  .*\.sops\.yaml|
  kubernetes/apps/.*/(charts?/|helm-charts?/)|
  .*/(templates/|crds/)|
  .*helmrelease\.yaml|
  .*kustomization\.yaml
)

  container-arch-check: any of: kubernetes/.*helmrelease\.ya?ml$
